# {{ ansible_managed }}

{% for alias, redirect in postfix_aliases.items() %}
{% if redirect is string %}
{{ alias }}: {{ redirect }}
{% else %}
{{ alias }}: {{ redirect|join(',') }}
{% endif %}
{% endfor %}
